body{
    margin: 0;
    padding: 0;
}

.header-line {
    background-color: rgb(233, 148, 200);
    height: 50px;
    font-size: 22px;
    padding-top: 10px;
}
.a-link {
    margin-left: 10px;
    color: rgb(83, 76, 65);
    font-size: 18px;
    text-decoration: none;
}
.p-class {
    margin: 0 0 0 10px;
}
.strelki {
    text-decoration: none;
    color: blue;
}